##### Compilation artifacts

*.class
target/
*.com
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo
*.war
*.ear
*.sar
*.jar
*.jasper

##### Eclipse configuration

.settings/
.project
.classpath
.buildpath
.loadpath
local.properties
.target
.metadata
bin/
*.launch

##### Idea configuration

.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

##### Temporary run-time files

tmp/
.install/
*.tlog
*.log
*.bak
*.swp
hs_err_pid*
*.pdf
/log/
*.jfr

##### Unit test reports
TEST*.xml

##### Archives

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.tgz
*.zip

##### OS specific files

.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.Trash-*
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
.directory

##### Build systems

.gradle
build/
out/
gradle-app.setting
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
!/gradle/wrapper/gradle-wrapper.jar

##### Other languages

*.py[cod]
node_modules/
dist/

##### Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

##### Project exceptions